<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diff for {{today}}</title>
    <script src="/static/nav.js"></script>
</head>
<body>

    <button id="previous" onclick="go_to(&quot;{{yesterday}}&quot;)">Go to yesterday: {{yesterday}}</button>
    <button id="next" onclick="go_to(&quot;{{tomorrow}}&quot;)">Go to tomorrow: {{tomorrow}}</button>

    <h2>{{today}}</h2>

    <h3>No data for this day</h3>
    <p>Note that no modern data exists from before November 1st, 2021. For legacy data, see <a href="legacy">this link</a>.</p>
</body>
</html>