<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PPB Watcher</title>
    <script src="/static/nav.js"></script>
</head>
<body>
    <button id="modern" onclick="go_to(&quot;{{today}}&quot;)">Go to today's data</button>

    <h3> What is this?</h3>
    <p>This site is a repository for data collected from the Oregon CJ IRIS database at <a href="https://www.bpl-orsnapshot.net/PublicInquiry_CJ/EmployeeSearch.aspx" target="_blank">this link</a>.</p>
    <p>Data from CJ IRIS is collected daily and compared to data from the day before. Changes, ie additions and removals, are documented and reported here.</p>
    <p><strong>So why does it matter?</strong></p>
    <p>When a member of the Portland Police Bureau goes undercover, their name and DPSST number is removed from the database.</p>
    <p>The goal of this data collection is to spot when those entries are removed, and potentially identify undercover officers.</p>
    <br />
    <h3>Potential undercover officers</h3>

    {% if entries|length == 0 %}
    <p>No suspected undercover officers as of {{ today }}</p>
    {% else %}
    <table>
        {% for entry in entries %}
        <tr>
            <td>{{entry.name}}</td>
            <td>{{entry.id}}</td>
            <td>{{entry.agency}}</td>
            <td>{{entry.rank}}</td>
            <td>{{entry.status}}</td>
        </tr>
        {% endfor %}
    {% endif %}
    </table>
</body>
</html>